/* Colours
#2D4356
#435B66
#A76F6F
#EAB2A0
 */

* {
  box-sizing: border-box;
  font-size: 10px;
}

h2 {
  text-align: center;
  padding: 0.1rem 0;
}

.loginButton {
  font-size: 0.8rem;
  background-color: #2d4356;
  color: wheat;
  margin: 1rem;
  padding: 3px;
}

.userProfile {
  display: flex;
}
