
.bookTitle{
    padding: 1rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
}

.bookDescription{
    padding: 1rem;
    font-size: 1rem;
    font-family: monospace;
}

.bookStatus{
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.addButton{
    width: auto;
    height: auto;
    font-size: 2rem;
    color: #EAB2A0;
    background-color: #2D4356;
    display: flex;
    margin: auto;
    padding: 1rem;
}

