.modalBackground{
  background-color: #435b6695;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.addBook {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 50vw;
  height: auto;
  background-color: #435B66;
  transform: translate( -50%, -50%);
  border: solid 3px black;
  padding: 2rem;
  color: wheat;
}
.formLegend{
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}

.form  input{
  display: flex;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 2rem;
  text-align: center;
}

.submitButton{
  width: auto;
  height: auto;
  font-size: 1.1rem;
  color: #EAB2A0;
  background-color: #2D4356;
  display: flex;
  margin: auto;
  padding: .5rem;
}

.closeModal{
  background-color: #eab2a0;
  color: #2d4356;
  font-size: 1rem;
  font-weight: 700;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: #2D4356 3px solid;
}