main{
    padding: 1rem;
}

h2{
    font-size: 2rem;
}

.discription{
    font-size: 1rem;
    padding: .5rem;
}

.developer{
    font-size: 1.5rem;
    padding: .5rem;
}

.github{
    font-size: 1rem;
}

.moreInfo{
    font-size: 1rem;
    padding:  1rem;
}