h1{
    font-size: 3rem;
    color: #2D4356;
    font-weight: 700;
    text-align: center;
    background-color: #EAB2A0    ;
    padding: .5rem;
}

nav{
    font-size: 1.3rem;
    background-color: burlywood;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
}

.home{
    float: left;
    padding: .5rem;
    padding-left: 2rem;

}

.userProfile {
    float:left;
    font-size: 1rem;
    padding: .3rem;
    padding-left: 3rem;
}

.about{
    float: right;
    padding: .5rem;
    padding-right: 2rem;
}

.logBut{
    position: absolute;
    right: 0;
}

.loginButton {
    font-size: 0.8rem;
    background-color: #2d4356;
    color: wheat;
    padding: 3px;
    margin: .1rem;
}
